@font-face {
  font-family: 'body';
  src: url('./assets/fonts/VICTORIA SERIF.ttf') format('truetype'); /* path relative to CSS file */
}

@font-face {
  font-family: 'rosehot';
  src: url('assets/fonts/Rosehot.ttf') format('truetype'); /* path relative to CSS file */
}

@font-face {
  font-family: 'VictoriaSerif';
  src: url('assets/fonts/VICTORIA SERIF.ttf') format('truetype'); /* remove spaces in filename */
}

body {
  display: flex; /* enables flex layout */            
  flex-direction: column;
  margin: 0;
  min-height: 100vh; /*might change later*/
  box-sizing: border-box;
  font-family: 'MyBodyFont', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FAE1DD;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.about {
  background-color: #F8EDEB;
  border-radius: 20px;
  padding: 30px;
  max-width: 600px; 
  text-align: center;
  margin: 40px auto;
  
}

.aboutTitle{
  font-family: 'VictoriaSerif';
  text-align: center;
}


.aboutText{
  font-family: 'VictoriaSerif';
  text-align: center;
  margin: 3%;
  font-size: 1.3rem;
}

.tickets-page{
  background-color: #FAE1DD;
}

.ticket-title {
  font-family: 'VictoriaSerif';
  text-align: center;
}


.ticketSection{
  margin: 0 auto;
  width: 100%;
  max-width: 60%; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  background-color: #FAE1DD;
}

.ticket-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem; /* space between tickets */
  width: 100%;
  align-items: center;
}

/* Ticket card */
.ticket-card {
  font-family: 'VictoriaSerif';
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(8px);
  padding: 2rem;
  border-radius: 12px;
  width: 60%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: flex; /* flex layout for info + button */
  justify-content: space-between; /* push button to the right */
  align-items: center; /* vertical alignment */
}

.ticket-info {
  text-align: left; /* keep text left-aligned */
}

/* Ticket button */
.ticket-button {
  background: rgba(250, 225, 221, 0.8);
  border: none;
  font-family: 'VictoriaSerif';
  padding: 0.8rem 1rem;
  cursor: pointer;
  font-size: 1.5rem;
  transition: background 0.2s ease, transform 0.2s ease;
  align-items: center; 
}

.ticket-button img {
  width: 24px;
  height: 24px;
  transition: none !important;
  object-fit: contain;
}


.ticket-card h2 {
  margin: 0 0 0.5rem 0;
  font-size: 1.5rem;
}

.ticket-card p {
  margin: 0.2rem 0;
}
