@font-face {
  font-family: 'body';
  src: url('./assets/fonts/VICTORIA SERIF.ttf') format('truetype'); /* path relative to CSS file */
}


body {
  margin: 0;
  font-family: 'MyBodyFont', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
