@font-face {
  font-family: 'rosehot';
  src: url('../assets/fonts/Rosehot.ttf') format('truetype');
}
@font-face {
  font-family: 'VictoriaSerif';
  src: url('../assets/fonts/VICTORIA SERIF.ttf') format('truetype');
}

.title{
    text-align: center;
    font-family: 'rosehot';
    font-weight: 700;
    font-size: 54px;
    color: #413e3e;
    margin-bottom: 40px;
}

.merchandise-container{
    display: flex;
    flex-direction: column;
    min-height: 900px;
    flex-grow: 1;
    padding: 40px 60px 80px 60px;
    background-color: #FAE1DD;
}


.merch-items-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: #F8EDEB;
    padding: 60px;
}

.merch-item-card{
    display: flex;
    flex-direction: column;
    height: 425px; 
    max-width: 350px;
    border: 1px solid #413e3e;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    margin-bottom: 40px;
    color: #413e3e;
}

.item-image{
    width: 300px;
    height: 300px;
}

.item-image:hover{
    box-shadow: 8px 12px 8px #b8d6c4;
}
.item-name, .item-price{
    font: 'VictoriaSerif';
}

.item-name{
    margin-top: 10px;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
}

.item-price{
    font-size: 18px;
    font-weight: 400;
}