.title-sequence-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-sequence{
    width: 100vw;
    height: 750px;
    background-color: black;
}

video{
    object-fit: cover;
    width: 100vw;
}